
$mainColor:#15023a;
$mainColor:#15023a;
$mainColorLogo :#00fff7;
$mainColorBG : #0252c9;
$mainColorBgNavBar: #f0f8ff;
$mainColorBGMenu : #15023a;
$mainColorLinksMenuOpen:#00fff7;
$mainColorLinks:#f0f8ff;
$width:600px;

@mixin mobile{
    @media (max-width:#{$width}) {
        @content
    }
}
