@import "../../../../sass/global.scss";
.skillsList{
    font-size: 25px;
    margin-right: 5px;
    padding: 7px;
    margin-right: 50px;
    border-radius: 10px;
    cursor: pointer;
    &.active {
      background-color: $mainColor;
      color: $mainColorLinks;
    }
  }