@import "../../../sass/global.scss";
.about-container{
   
    display: flex;
    background-color: lightcoral;
    .left{
        flex:6;
        width: 80%;
        display: flex;
        justify-content: right;
        align-items: center;
        .img-container{
             padding: 10px;
            img{
                width: 500px;
                height: 500px;
                border-radius: 10px;
                object-fit: cover;

            }
        }
    }
    .right{
        display: flex;
        flex: 6;
        justify-content:center;
        //align-items:center;;
        flex-direction: column;
        .wrapper{
            display: flex;
           flex-direction: column;
             
            h1{
                font-size: 32px;
                font-weight: 600;
                color: $mainColorLogo;
            }
            h2{
                font-size: 32px;
                color: $mainColor;
            }
            p{
                font-size: 20px;
                font-weight: 700;
                width: 500px;
                color: $mainColorLinks;
            }
        }
    }

}